<div class="item table-header">
  <div></div>
  <div>name</div>
  <div>#</div>
  <div>expires</div>
  <div></div>
  <div class="line"></div>
</div>
<div *ngFor="let item of items; index as i" class="item" [class.expired]="item.expired">
  <img [src]="item.imageUrl ? item.imageUrl : 'favicon.ico'" [style.grid-row]="i * 2 + 3" class="z-plus">
  <div [style.grid-row]="i * 2 + 3" class="z-plus">{{item.name}}</div>
  <div *ngIf="!item.modify" class="quantity" [style.grid-row]="i * 2 + 3" class="z-plus">{{item.quantity}}</div>
  <div *ngIf="item.modify" [style.grid-row]="i * 2 + 3"><input [(ngModel)]="item.quantity" type="number" min="0" [max]="item.quantity" class="quantity z-plus"></div>
  <div *ngIf="item.expiryDate" [style.grid-row]="i * 2 + 3" class="z-plus">{{item.expiryDate.getFullYear()}}&#8209;{{item.expiryDate.getMonth() + 1}}&#8209;{{item.expiryDate.getDate()}}</div>

  <div class="icons z-plus" [style.grid-row]="i * 2 + 3">
    <img *ngIf="!item.modify" (click)="item.modify = true" src="assets/icons/lead-pencil.svg">
    <img *ngIf="item.modify" (click)="item.modify = false; updateItem(item)" src="assets/icons/content-save.svg">

    <img (click)="deleteItem(item)" src="assets/icons/delete.svg">
  </div>
  <div class="line z-plus" [style.grid-row]="i * 2 + 4"></div>
  <div *ngIf="item.expired" class="highlight" [style.grid-row]="i * 2 + 3"></div>
</div>