:host {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-template-rows: repeat(900, 9vw 3vw);
    grid-auto-rows: 9vw 3vw;
    font-size: 4vw;
    color: #333;
    align-items: center;
    grid-column-gap: 3vw;
    padding: 0.5vw;
    justify-content: space-between;
    position: relative;
}

.table-header {
    font-weight: bold;
}

.item {
    grid-column-start: 1;
    grid-column-end: 6;
    display: contents;
    z-index: 200;
}

.z-plus {
    z-index: 1;
}

.line {
    grid-column-start: 1;
    grid-column-end: 6;
    display: block;
    height: 2px;
    /* width: 99vw; */
    background-color: #333;
    opacity: 0.1;
}

.icons {
    display: grid;
    grid-template-columns: min-content min-content;
    padding: 0 1.5vw 0 0;
}

.quantity {
    width: 9vw;
    padding: 1vw 1vw 0.5vw 1vw;
}

input {
    border: none;
    font-size: 4vw;
    box-sizing: border-box;
}

img {
    height: 2em;
    justify-self: center;
}

.highlight {
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: #FA9;
    position: absolute;
    height: 12vw;
    width: 100%;
    top: -1.5vw;
    z-index: 0;
    opacity: 0.5;
}