:host {
    height: 15vw;
    font-size: 5vw;
    background-color: #81c784;
    display: block;
    width: 100%;
    margin: 0;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-column-gap: 5vw;
    padding: 5vw;
    float: right;
    justify-items: right;
}

.menu-item {
    color: #ffffff;
}

@media only screen and (min-width: 1025px) {
    :host {
        height: 9vh;
        font-size: 3vh;
    }

    .menu {
        grid-column-gap: 3vh;
        padding: 3vh;
    }

}