<div class="menu">
  <div class="menu-item" routerLink="/list">List</div>
  <div class="menu-item" routerLink="/calendar">Calendar</div>
  <div class="menu-item" routerLink="/scanner">Scan</div>
</div>