<div class="day">{{day}}</div>
<div *ngFor="let item of items" class="item">
  <div [class.expired]="item.expired">{{item.name}}</div>
  <div>Quantity: {{item.quantity}}</div>
  <div>Expires: {{item.expiryDate}}</div>
  <img [src]="item.imageUrl" [alt]="item.name">
</div>
