:host {
    display: grid;
    padding: 4.5vw;
    grid-row-gap: 4.5vw;
    font-size: 4.5vw;
    color: #37474f;
}

.day {
    background-color: white;
    font-size: 9vw;
    padding: 4.5vw;
    width: min-content;
}

.item {
    display: grid;
    padding: 4.5vw;
    background-color: white;
    grid-template-rows: 1fr;
    grid-row-gap: 4.5vw;
}

img {
    height: 15vw;
}
