:host {
    padding: 20vh calc(50vw - 20vh);
    display: block;
    font-size: 2.5vh;
    justify-content: space-between;	
}

.login-wrap {
    box-sizing: border-box;
    width: 40vh;
    padding: 2.5vh;
    color: #37474f;
    background-color: #81c784;
}

input {
    border: none;
    color: #37474f;
    width: 100%;
    height: 5vh;
    padding: 0.3em 0.5em;
    margin-bottom: 2.5vh;
    box-sizing: border-box;
    font-size: 2.5vh;
    font-weight: lighter;
    font-family: Segoe UI;
}

.error {
    box-sizing: border-box;
    width: 40vh;
    padding: 3vw 2.5vh;
    color: #37474f;
    background-color: #FA9;
}

button {
    font-size: 2.5vh;
    padding: 0.4vh 1vh 0.8vh 1vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: #eee;
    color: #37474f;
}
