<div class="month">October</div>
<div class="calendar">
  <div *ngFor="let day of month; index as i" class="day" [style.background-color]="day.length ? '#FA9' : 'white'" (click)="checkFood(i + 1, day)">{{i + 1}}</div>
</div>