:host {
    padding: 1em;
    font-size: 4.5vw;
    display: block;
    color: #37474f;
}

.month {
    background-color: white;
    padding: 5.25vw 0 3.75vw;
    text-align: center;
    margin-bottom: 4.5vw;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 1.5vw;
    grid-row-gap: 1.5vw;
}

.day {
    background-color: white;
    height: 10vw;
    padding: 1.2vw;
}